/*
 * Styling heavily borrowed from https://github.com/katychuang/hakyll-cssgarden.git
 * and https://github.com/rebeccaskinner/effective-haskell.com.git
 * */

@font-face {
    font-family: 'InterRegular';
    font-style: normal;
    /*src: url('./fonts/Inter-Regular.woff2') format('woff2'), url('./fonts/Inter-Regular.ttf')  format('truetype');*/
    src:
        url('/fonts/Inter-Regular.woff2') format('woff2'),
        url('/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'InterMedium';
    /*src: url('./fonts/Inter-Medium.woff2') format('woff2'), url('./fonts/Inter-Medium.ttf')  format('truetype');*/
    src:
        url('/fonts/Inter-Medium.woff2') format('woff2'),
        url('/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'InterThin';
    /*src: url('./fonts/Inter-Thin.woff2') format('woff2'), url('./fonts/Inter-Thin.ttf') format('truetype');*/
    src:
        url('/fonts/Inter-Thin.woff2') format('woff2'),
        url('/fonts/Inter-Thin.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'FiraCode';
    /*src: url('./fonts/FiraCode-Regular.ttf') format('truetype');*/
    src: url('/fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: 100;
}

.page-title {
    font-family: 'InterMedium', 'Open Sans', sans-serif;
}

.wrapper {
    background: #fff;
    color: #444;
    font-family: 'InterRegular', 'helvetica', sans-serif;
    font-weight: 300;
}

footer {
    border-top: dotted 1px #ddd;
    color: #bbb;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

footer a {
    font-size: 12px;
    font-weight: 500;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

section.header {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

ul,
ol {
    padding-left: 20px;
}

a {
    color: #720000;
    font-weight: 700;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

code {
    font-size: large;
    font-family: 'FiraCode', 'Open Sans', sans-serif !important;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

div.sourceCode {
    padding: 16px;
    font-size: large;
    font-family: 'FiraCode', 'Open Sans', sans-serif !important;
    /*padding: 48px;*/
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    /* width fix */
    width: auto;
}
/*table stuff*/

table {
    margin: 21px 0 21px 0;
    border-collapse: collapse;
    border: 1px solid black;
}
table tr:hover {
    background: #f1f8f6;
}
table tr:hover td {
    color: #2f4858;
}
table th,
table td {
    border-bottom: 1px solid #9cafb0;
    padding: 12px 35px;
    border-collapse: collapse;
}
table th {
    font-weight: bold;
    text-align: left;
}
table th.last {
    border-right: none;
}
